.figma-theme {
  --color-button: #FFFFFF;
  --color-variant-primary-state-default-size-large: #0A4173;
  --color-button_label: #FFFFFF;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 16px;
  --typography-button_label-font-weight: 400;
  --color-variant-primary-state-default-size-small: #0A4173;
  --color-button_label: #FFFFFF;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 12px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #0A4173;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 16px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #0A4173;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 12px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #0A4173;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 16px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #0A4173;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 12px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #093762;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 16px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #093762;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 12px;
  --typography-button_label-font-weight: 400;
  --color-variant-primary-state-hover-size-large: #093762;
  --color-button_label: #FFFFFF;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 16px;
  --typography-button_label-font-weight: 400;
  --color-variant-primary-state-hover-size-small: #093762;
  --color-button_label: #FFFFFF;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 12px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #A3A3A3;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 16px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #A3A3A3;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 12px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #093762;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 16px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #093762;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 12px;
  --typography-button_label-font-weight: 400;
  --color-variant-primary-state-disabled-size-large: #F5F5F5;
  --color-button_label: #A3A3A3;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 16px;
  --typography-button_label-font-weight: 400;
  --color-variant-primary-state-disabled-size-small: #F5F5F5;
  --color-button_label: #A3A3A3;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 12px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #A3A3A3;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 16px;
  --typography-button_label-font-weight: 400;
  --color-button_label: #A3A3A3;
  --typography-button_label-font-family: Courier;
  --typography-button_label-font-size: 12px;
  --typography-button_label-font-weight: 400;
  --color-cover: #FFFFFF;
  --color-design-token-automation: #333E48;
  --typography-design-token-automation-font-family: Museo;
  --typography-design-token-automation-font-size: 72px;
  --typography-design-token-automation-font-weight: 600;
  --color-design-token-automation-from-figma-to-storybook: #828282;
  --typography-design-token-automation-from-figma-to-storybook-font-family: SF Pro Display;
  --typography-design-token-automation-from-figma-to-storybook-font-size: 42px;
  --typography-design-token-automation-from-figma-to-storybook-font-weight: 400;
  --color-vector: #333E48;
  --color-vector: #BDBDBD;
  --color-vector: #333E48;
  --color-vector: #F1C650;
  --color-vector: #F95C2B;
  --color-vector: #62A0A5;
  --color-vector: #BDBDBD;
  --color-navitem: #F15A24;
  --color-figma: #FFFFFF;
  --typography-figma-font-family: Museo;
  --typography-figma-font-size: 24px;
  --typography-figma-font-weight: 600;
  --color-navitem: #2D3F48;
  --color-storybook: #FFFFFF;
  --typography-storybook-font-family: Museo;
  --typography-storybook-font-size: 24px;
  --typography-storybook-font-weight: 600;
  --color-navitem: #F1C4C4;
  --color-token-transformer: #000000;
  --typography-token-transformer-font-family: Museo;
  --typography-token-transformer-font-size: 24px;
  --typography-token-transformer-font-weight: 600;
  --color-navitem: #F1C4C4;
  --color-style-dictionary: #000000;
  --typography-style-dictionary-font-family: Museo;
  --typography-style-dictionary-font-size: 24px;
  --typography-style-dictionary-font-weight: 600;
  --color-navitem: #F1C4C4;
  --color-github-action: #000000;
  --typography-github-action-font-family: Museo;
  --typography-github-action-font-size: 24px;
  --typography-github-action-font-weight: 600;
  --color-navitem: #F1C4C4;
  --color-github-action: #000000;
  --typography-github-action-font-family: Museo;
  --typography-github-action-font-size: 24px;
  --typography-github-action-font-weight: 600;
  --color-navitem: #C2D0DC;
  --color-figma-tokens: #000000;
  --typography-figma-tokens-font-family: Museo;
  --typography-figma-tokens-font-size: 24px;
  --typography-figma-tokens-font-weight: 600;
  --color-navitem: #F5F5F5;
  --color-github-repo: #000000;
  --typography-github-repo-font-family: Museo;
  --typography-github-repo-font-size: 24px;
  --typography-github-repo-font-weight: 600;
  --color-navitem: #F5F5F5;
  --color-github-repo: #000000;
  --typography-github-repo-font-family: Museo;
  --typography-github-repo-font-size: 24px;
  --typography-github-repo-font-weight: 600;
  --color-navitem: #F1C4C4;
  --color-stencil-components: #000000;
  --typography-stencil-components-font-family: Museo;
  --typography-stencil-components-font-size: 24px;
  --typography-stencil-components-font-weight: 600;
  --color-navitem: #F1C4C4;
  --color-storybook-docs: #000000;
  --typography-storybook-docs-font-family: Museo;
  --typography-storybook-docs-font-size: 24px;
  --typography-storybook-docs-font-weight: 600;
  --color-overview: #FFFFFF;
  --color--this-is-a-companion-figma-file-used-in-my-blog-post-around-design-token-automation-if-you-want-to-follow-along-with-the-post-it-outlines-the-steps-for-automating-a-workflow-that-reads-writes-figma-token-values-stored-in-a-github-repository-transforming-the-tokens-using-token-transformer-and-style-dictionary-and-outputting-css-variables-that-are-used-in-a-stencil-web-component-and-storybook-documentation-the-figma-token-file-used-is-available-on-github-you-can-save-a-local-copy-and-load-it-into-figma-tokens-if-you-want-to-play-around-: #000000;
  --typography--this-is-a-companion-figma-file-used-in-my-blog-post-around-design-token-automation-if-you-want-to-follow-along-with-the-post-it-outlines-the-steps-for-automating-a-workflow-that-reads-writes-figma-token-values-stored-in-a-github-repository-transforming-the-tokens-using-token-transformer-and-style-dictionary-and-outputting-css-variables-that-are-used-in-a-stencil-web-component-and-storybook-documentation-the-figma-token-file-used-is-available-on-github-you-can-save-a-local-copy-and-load-it-into-figma-tokens-if-you-want-to-play-around--font-family: Inter;
  --typography--this-is-a-companion-figma-file-used-in-my-blog-post-around-design-token-automation-if-you-want-to-follow-along-with-the-post-it-outlines-the-steps-for-automating-a-workflow-that-reads-writes-figma-token-values-stored-in-a-github-repository-transforming-the-tokens-using-token-transformer-and-style-dictionary-and-outputting-css-variables-that-are-used-in-a-stencil-web-component-and-storybook-documentation-the-figma-token-file-used-is-available-on-github-you-can-save-a-local-copy-and-load-it-into-figma-tokens-if-you-want-to-play-around--font-size: 22px;
  --typography--this-is-a-companion-figma-file-used-in-my-blog-post-around-design-token-automation-if-you-want-to-follow-along-with-the-post-it-outlines-the-steps-for-automating-a-workflow-that-reads-writes-figma-token-values-stored-in-a-github-repository-transforming-the-tokens-using-token-transformer-and-style-dictionary-and-outputting-css-variables-that-are-used-in-a-stencil-web-component-and-storybook-documentation-the-figma-token-file-used-is-available-on-github-you-can-save-a-local-copy-and-load-it-into-figma-tokens-if-you-want-to-play-around--font-weight: 400;
}