.fixed-tokens-theme {
  --base-color-primary: #007BFF;
  --base-color-secondary: #6C757D;
  --base-color-error: #6C757D;
  --base-color-error-new: #6C757D;
  --base-color-success: #28A745;
  --base-spacing-button-padding: 12px 24px;
  --base-spacing-button-border-radius: 8px;
  --base-button-default-border-color: #007BFF;
  --base-button-default-border-width: 2px;
  --base-button-default-border-style: solid;
  --base-button-default-background-color: #007BFF;
  --base-button-default-text-color: #FFFFFF;
  --base-button-default-padding: 12px 24px;
  --base-button-default-border-radius: 8px;
  --base-button-secondary-border-color: #6C757D;
  --base-button-secondary-border-width: 2px;
  --base-button-secondary-border-style: solid;
  --base-button-secondary-background-color: #6C757D;
  --base-button-secondary-text-color: #FFFFFF;
  --base-button-outline-border-color: #007BFF;
  --base-button-outline-border-width: 2px;
  --base-button-outline-border-style: solid;
  --base-button-outline-background-color: transparent;
  --base-typography-button-font-size: 16px;
  --base-typography-button-font-weight-fontWeight: 600;
  --base-typography-button-letterspacing-letterSpacing: 0.5px;
  --base-b-button-default-background-color: #ffff00;
  --base-b-button-primary-padding: 4px 12px;
  --base-a-card-default-border-color: #007BFF;
  --base-a-card-default-border-width: 2px;
  --base-a-card-default-border-style: solid;
  --base-c-card-secondary-color: #b01818;
  --base-c-card-secondary-typography-fontFamily: ADLaM Display;
  --base-c-card-secondary-typography-fontWeight: 20px;
  --base-c-card-secondary-typography-fontSize: 2px;
  --base-c-card-secondary-typography-lineHeight: 1px;
  --base-c-card-secondary-typography-letterSpacing: 1px;
  --base-c-card-secondary-typography-paragraphSpacing: 10px;
  --base-c-card-padding: 12px 24px;
  --base-c-card-default-fonts: 12px;
  --base-c-card-tertiary-color: #4ea623;
  --base-c-color-button-primary: #fff00f;
  --base-d-card-secondary-color: #b01818;
  --base-d-card-padding: 12px 24px;
  --base-d-card-default-fonts: 12px;
  --base-d-card-tertiary-color: #4ea623;
  --button-varient-button-primary-fill: #007BFF;
  --button-varient-button-primary-padding: 20px 100px;
  --card-primary-padding: 10px 12px;
  --card-primary-content-padding: 10px 8 px;
  --card-primary-title-padding: 10px 10px;
  --card-primary-title-color: #007BFF;
  --card-primary-border-radius: 10px;
  --card-primary-background-color: #28A745;
  --card-primary-width: 300px;
  --card-primary-height: 400px;
  --card-primary-border-color: #007BFF;
  --card-primary-border-width: 2px;
  --card-primary-border-style: solid;
  --table-primary-color: #ff0000;
}